@import "tailwindcss";

@theme {
  /* Neutral */
  --color-background: hsl(243 96% 9%);
  --color-surface: hsl(243 27% 20%);
  --color-surface-elevated: hsl(243 23% 24%);
  --color-border: hsl(243 23% 30%);
  --color-text-secondary: hsl(240 6% 70%);
  --color-text-muted: hsl(250 6% 84%);
  --color-text: hsl(0 0% 100%);

  /* Brand */
  --color-primary: hsl(28 100% 52%);

  /* Blue */
  --color-accent: hsl(233 67% 56%);
  --color-accent-dark: hsl(248 70% 36%);

  /* Fonts */

  --font-sans: "DM Sans", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
}
body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
}
.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.menu {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 500ms ease,
    transform 500ms ease;
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.card-action {
  transform: scale(1);
  transition: transform 500ms ease;
}
.card-action:hover {
  transform: scale(1.1);
}

.hourly-card {
  transform: translateY(0) scale(1);
  box-shadow: none;
  transition:
    transform 500ms ease 100ms,
    box-shadow 500ms ease 100ms;
}
.hourly-card:hover {
  box-shadow: 5px 3px 5px 0 black;
  transform: scale(1) translateY(3px);
}

.button {
  transform: scale(1);
  box-shadow: none;
  transition: all 300ms ease 100ms;
}
.button:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 5px 0 black;
}
